html, body {
    height: 100%;
	margin: 0;
}

body {
	display: flex;
	flex-direction: row;
	align-items: stretch;
}

/* Info column on Left */
/* aside {
	flex-grow: 2;
	display: flex;
	flex-direction: column;
} */

/* Header of info column */
header {
	color: green;
	text-align: center;
	font-weight: bold;
	font-size: 30px;
	padding: 5px;
}

h3 {
	color: red;
}


#floating-panel {
  position: absolute;
  width: 100% ;
  margin:0 auto;
  text-align:center;
  color: black;
  z-index: 1;
  font-family: 'Roboto';
}

/* Main text of info column */
article {
	flex-grow: 3;
}

#map {
	flex-grow: 3;
	width: 70%;
    background-color: lightgrey;
}

/*from https://www.w3schools.com/howto/howto_css_modals.asp */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

#modalButtonDiv {
	position: absolute;
	width: 100px;
	left: 6px;
  	top: 23px;
  	margin:0 auto;
  	text-align:center;
  	color: black;
  	z-index: 1;
  	font-family: 'Roboto';
}

#myBtn {
	position: relative;
  	width: 100% ;
  	margin:0 auto;
  	text-align:center;
  	background-color: white;
  	color: black;
  	outline: none;
  	border-radius: 12px;
  	z-index: 1;
  	font-family: 'Roboto';
}

.modal-content {
	background-color: #fefefe;
    margin: 12% auto; 
    padding: 20px;
    border: 1px solid #888;
    width: 60%;
    font-family: 'Roboto';
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.gm-style-iw {
	
}
