html, body {
    height: 100%;
	margin: 0;
}

body {
	display: flex;
	flex-direction: row;
	align-items: stretch;
}

/* Info column on Left */
aside {
	flex-grow: 2;
	display: flex;
	flex-direction: column;
}

/* Header of info column */
header {
	color: green;
	text-align: center;
	font-weight: bold;
	font-size: 30px;
	padding: 5px;
}

/* Main text of info column */
article {
	flex-grow: 3;
}

#map {
	flex-grow: 3;
	width: 70%;
    background-color: lightgrey;
}
