<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"> 
    <title>Dublin Bike Planner</title>
    <link rel="icon" href="../static/myBikeIcon.png"> 
    <meta name="Dublin Bike Planner">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
	<script type=text/javascript src="{{ url_for('static', filename='script.js') }}"></script>
	<!-- put graph files in static folder -->
	<link href="{{ url_for('static', filename='c3-master/c3.css') }}" charset="utf-8" rel="stylesheet">
	<script src="{{ url_for('static', filename='d3/d3.min.js') }}" charset="utf-8"></script>
	<script src="{{ url_for('static', filename='c3-master/c3.min.js') }}" charset="utf-8"></script>	
</head>
<body onload='showWeather()'>
	<header id="mapHeader">DUBLIN BIKE PLANNER</header>
	<main>
		<aside>
			<header id="sidebarHeader">DUBLIN BIKE PLANNER</header>
			<article>
				<img id="dbImage" src="./static/dublinBike.jpg">
				<div id='weather' >
					<img id='weather-loading-image' src='static/loading.gif' alt='loading...'>
				</div>
				<div id='buttonDiv'>
					<button id='chartBtn1'>Chart One</button>
					&nbsp;
					<button id='chartBtn2'>Chart Two</button>
				</div>
				<div id='chart-loading-div'>
					<img id="chart-loading-image" src="static/loading.gif" alt="loading...">
				</div>
				<div><h5 id="stationChartTitle"></h5></div>
				<div id="chart"></div>	
			</article>
		</aside>
		<div id="mapContainer">
			<input id="searchBar" class="controls" type="text" placeholder="Search" onfocus="if(this.value != '') {this.value=''}" onblur="this.value ='Search'">
			<button id="toggle">&gt;&gt;&gt;</button>
			<div id='startUpMessage'>Click on a station to view its occupancy information</div>
			<div id='map'></div>		
		</div>
		<script async defer 
			src="https://maps.googleapis.com/maps/api/js?libraries=places&key=AIzaSyD4RRQ0Y1lMgihqDFu1wVw1wPsb4bVtCmA&callback=initMap">
		</script>
	</main>
</body>
</html>

