<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"> 
    <title>FORECASTER</title>
    <meta name="Dublin Bike Planner">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
	<script type=text/javascript src="{{ url_for('static', filename='script.js') }}"></script>
	<!-- put graph files in static folder -->
	<link href="{{ url_for('static', filename='c3-master/c3.css') }}" charset="utf-8" rel="stylesheet">
	<script src="{{ url_for('static', filename='d3/d3.min.js') }}" charset="utf-8"></script>
	<script src="{{ url_for('static', filename='c3-master/c3.min.js') }}" charset="utf-8"></script>
	
</head>
<body onload='showWeather(), initChart()'>
	<header id="mapHeader">DUBLIN BIKE PLANNER</header>
	<main>
		<aside>
			<header id="sidebarHeader">DUBLIN BIKE PLANNER</header>
			<article>
				
					<img src="./static/dublinBike.jpg">
					<div id='weather' >
					<img id='weather-loading-image' src='static/loading.gif' alt='loading...'>
					</div>
				<div id='buttonDiv'>
					<button id='chartBtn1'>Chart One</button>
					<button id='chartBtn2'>Chart Two</button>
				</div>
				
				<div id="chart">
					<img id='chart-loading-image' src='static/loading.gif' alt='loading...'>
				</div>
					
			</article>
		</aside>
		<div id="mapContainer">
			<button id="toggle">&gt;&gt;&gt;</button>
			<div id='startUpMessage'>Click</div>
			<div id='map'></div>		
		</div>
		<script async defer 
			src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD4RRQ0Y1lMgihqDFu1wVw1wPsb4bVtCmA&callback=initMap">
		</script>
	</main>

</body>
</html>


