<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"> 
    <title>FORECASTER</title>
    <meta name="Dublin Bike Planner">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
	<script type=text/javascript src="{{ url_for('static', filename='script.js') }}"></script>
</head>
<body>
	<!--	<header>DUBLIN BIKE PLANNER</header> -->
	<button id="toggleOpen">&gt;&gt;&gt;</button>
	<aside>		
		<button id="toggleClose">&lt;&lt;&lt;</button>
 		<article></article>
 	</aside>
	<div id='map'></div>
	<script>
	// Pass marker values from flask app into template.
	var markers = [
		{% for station in stations %}
		{
		coords: {lat:{{station.Static.position_lat}}, lng:{{station.Static.position_lng}} {{ '}' }},
		content: '<h3>{{station.Static.address}}</h3><h4>Bike Stands = {{station.LatestDynamic.bike_stands}}</h4><h4>Available Bikes = {{station.LatestDynamic.available_bikes}}</h4><h4>Available Bike Stands = {{station.LatestDynamic.available_bike_stands}}</h4>'
		},
		{% endfor %}
		];
	</script>
	<script async defer 
		src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD4RRQ0Y1lMgihqDFu1wVw1wPsb4bVtCmA&callback=initMap">
	</script>
</body>
</html>


